#img-card {
    width: fit-content;
    height: 250px;
    align-items: center;
}

// #img-btn {

// }

#product-description {
    font-size: 15px;
}

#price-tag {
    text-align: center;
    font-size: 15px;
}

// .welcome-header {
    
// }

#card-spacing {
    margin: 20px;
}