
<div class="nav">
  
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mb-4 box-shadow d-flex justify-content-center align-items-center">
        <div class="card-body">
          <img id="img-card" src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/w/h/wh_1000xm4_b_stadard1_large_3f3c.jpg" alt="headphone icon">
          <p>Volkano Wireless Bluetooth Headphones - Phonic Series</p>
          <p id="price-tag">R399</p>
          <button type="button" class="btn btn-lg  btn-block btn-outline-dark">Add to cart</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mb-4 box-shadow d-flex justify-content-center align-items-center">
        <div class="card-body">
          <img id="img-card" src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/w/h/wh_1000xm4_b_stadard1_large_3f3c.jpg" alt="headphone icon">
          <p id="product-description">Anker Soundcore Life Q30 Bluetooth Headphones</p>
          <p id="price-tag">R 1,699</p>
          <button type="button" class="btn btn-lg btn-block btn-outline-dark">Add to cart</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mb-4 box-shadow d-flex justify-content-center align-items-center">
        <div class="card-body">
          <img id="img-card" src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/w/h/wh_1000xm4_b_stadard1_large_3f3c.jpg" alt="headphone icon">
          <p>Name</p>
          <p>Price</p>
          <button type="button" class="btn btn-lg btn-block btn-outline-dark">Add to cart</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mb-4 box-shadow d-flex justify-content-center align-items-center">
        <div class="card-body">
          <img id="img-card" src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/w/h/wh_1000xm4_b_stadard1_large_3f3c.jpg" alt="headphone icon">
          <button type="button" class="btn btn-lg btn-block btn-outline-dark">Add to cart</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card mb-4 box-shadow d-flex justify-content-center align-items-center">
        <div class="card-body">
          <img id="img-card" src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/w/h/wh_1000xm4_b_stadard1_large_3f3c.jpg" alt="headphone icon">
          <button type="button" class="btn btn-lg btn-block btn-outline-dark">Add to cart</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card mb-4 box-shadow d-flex justify-content-center align-items-center">
        <div class="card-body">
          <img id="img-card" src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/w/h/wh_1000xm4_b_stadard1_large_3f3c.jpg" alt="headphone icon">
          <button type="button" class="btn btn-lg btn-outline-dark">Add to cart</button>
        </div>
      </div>
    </div>
    <!-- Repeat the above code for the remaining 8 images -->
    <!-- In total, there should be 9 images in 3 rows -->
  </div>
</div>




<!-- 
<div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12"> 

      <div class="card mb-4 box-shadow" id="card-spacing">
        <div class="card-body">
          <img id="img-card" src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/w/h/wh_1000xm4_b_stadard1_large_3f3c.jpg" alt="headphone icon">
          <p>Name</p>
          <p>Price</p>
          <button type="button" class="btn btn-lg btn-block btn-outline-dark" id="img-btn">Add to cart</button>
        </div>
      </div>

      <div class="card mb-4 box-shadow" id="card-spacing">
        <div class="card-body">
          <img id="img-card" src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/w/h/wh_1000xm4_b_stadard1_large_3f3c.jpg" alt="headphone icon">
          <h5>Name</h5>
          <p>Price</p>
          <button type="button" class="btn btn-lg btn-block btn-outline-dark" id="img-btn">Add to cart</button>
        </div>
      </div>

      <div class="card mb-4 box-shadow" id="card-spacing">
        <div class="card-body">
          <img id="img-card" src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/w/h/wh_1000xm4_b_stadard1_large_3f3c.jpg" alt="headphone icon">
          <h5>Name</h5>
          <p>Price</p>
          <button type="button" class="btn btn-lg btn-block btn-outline-dark" id="img-btn">Add to cart</button>
        </div>
      </div>

      <div class="card mb-4 box-shadow" id="card-spacing">
        <div class="card-body">
          <img id="img-card" src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/w/h/wh_1000xm4_b_stadard1_large_3f3c.jpg" alt="headphone icon">
          <h5>Name</h5>
          <p>Price</p>
          <button type="button" class="btn btn-lg btn-block btn-outline-dark" id="img-btn">Add to cart</button>
        </div>
      </div>
  
     <div class="card mb-4 box-shadow" id="card-spacing">
        <div class="card-body">
          <img id="img-card" src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/w/h/wh_1000xm4_b_stadard1_large_3f3c.jpg" alt="headphone icon">
          <h5>Name</h5>
          <p>Price</p>
          <button type="button" class="btn btn-lg btn-block btn-outline-dark" id="img-btn">Add to cart</button>
        </div>
      </div>

      <div class="card mb-4 box-shadow" id="card-spacing">
        <div class="card-body">
          <img id="img-card" src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/w/h/wh_1000xm4_b_stadard1_large_3f3c.jpg" alt="headphone icon">
          <h5>Name</h5>
          <p>Price</p>
          <button type="button" class="btn btn-lg btn-block btn-outline-dark" id="img-btn">Add to cart</button>
        </div>
      </div>

      <div class="card mb-4 box-shadow" id="card-spacing">
        <div class="card-body">
          <img id="img-card" src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/w/h/wh_1000xm4_b_stadard1_large_3f3c.jpg" alt="headphone icon">
          <h5>Name</h5>
          <p>Price</p>
          <button type="button" class="btn btn-lg btn-block btn-outline-dark" id="img-btn">Add to cart</button>
        </div>
      </div>

      <div class="card mb-4 box-shadow" id="card-spacing">
        <div class="card-body">
          <img id="img-card" src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/w/h/wh_1000xm4_b_stadard1_large_3f3c.jpg" alt="headphone icon">
          <h5>Name</h5>
          <p>Price</p>
          <button type="button" class="btn btn-lg btn-block btn-outline-dark" id="img-btn">Add to cart</button>
        </div>
      </div>

      <div class="card mb-4 box-shadow" id="card-spacing">
        <div class="card-body">
          <img id="img-card" src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/w/h/wh_1000xm4_b_stadard1_large_3f3c.jpg" alt="headphone icon">
          <h5>Name</h5>
          <p>Price</p>
          <button type="button" class="btn btn-lg btn-block btn-outline-dark" id="img-btn">Add to cart</button>
        </div>
      </div>

      <div class="card mb-4 box-shadow" id="card-spacing">
        <div class="card-body">
          <img id="img-card" src="https://www.incredible.co.za/media/catalog/product/cache/7ce9addd40d23ee411c2cc726ad5e7ed/w/h/wh_1000xm4_b_stadard1_large_3f3c.jpg" alt="headphone icon">
          <h5>Name</h5>
          <p>Price</p>
          <button type="button" class="btn btn-lg btn-block btn-outline-dark" id="img-btn">Add to cart</button>
        </div>
      </div>
  
      <!-- Repeat the above code for the remaining 8 images -->
      <!-- In total, there should be 9 images in 3 rows -->
  